body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
}

.bordered circle {
  stroke-width: 2px;
}

text {
  z-index: -1;
  position: relative;
}
